<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Deviget Challenge Test Suite">

    <parameter name="baseurl" value="https://www.aliexpress.com/"/>
    <parameter name="browser" value="chrome"/>

    <test name="Basic Navigation to AliExpress Test">
        <classes>
            <class name="com.deviget.automation.uitests.BasicTest"/>
        </classes>
    </test>

    <test name="Basic Search Test">
        <classes>
            <class name="com.deviget.automation.uitests.SearchTest"/>
        </classes>
    </test>

</suite>